# environment directory
env/

# hidden directories
.*/

# temporary directories
tmp/

# python caches
__pycache__/

# compiled libraries and binaries
*.so
*.x

# datasets
*.csv
*.tsv
*.h5

# plots
*.png
*.pdf