# environment directory
env/
env

# data directory
data/

# hidden directories
.*/

# temporary directories
tmp/

# raw data
raw/

# python caches
__pycache__/

# compiled libraries and binaries
*.so
*.x

# datasets
*.csv
*.tsv
*.h5

# plots
*.png
*.pdf